.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      %h1.main-chat__group-info__title-box
      グループ名
      %main-chat__group-info__member-name

    .main-chat__group-info__right-box



  .main-chat__message




  .main-chat__form


//メインチャットの部分テンプレートのファイル！
