.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  float: left;                        // ボックスモデルの概念を思い出して。浮かせてる。
  color: #ffffff;
  &__header {
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__box {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
      &__name {
      line-height: 20px;
      }
      &__option {
      width: 60px;
      display: flex;
      justify-content: flex-end
      }
        &__option__new-group {
        }
        &__option__edit-user {
        margin-left: 5px;
        }
      .icon {
        color: #ffffff;
      }
    }
  }

  &__group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px;                   // サイドバーメイン全体にPaddingをかける
    &__group {                       // TESTとまだメッセージはありませんの親の箱
    margin-bottom: 40px;
      a {
      color: #ffffff;
      text-decoration: none;
      }
        &__name{                       // TESTの小さな箱
        font-size: 15px;
        margin-bottom: 5px;
        }
        &__message{                    // まだメッセージはありませんの小さな箱
        font-size: 11px;
        }
    }
  }
}


// MEMO //

// aタグは元々デフォルトで持っているプロパティがある。それを打ち消す為にもカラーや下線を消したりする！