.notification
  - flash.each do |key, value|
    = content_tag :div, value, class: key




// フラッシュメッセージを表示させる為の、haml(html)ファイル！ 後ほど,CSS(Sass)でカラーなどを装飾する！
// flashオブジェクトの中には、ハッシュの様にキーとバリュー形式で保存されている。
// 予め、deviseに表示される文字は先に入っているので特に何か自分で表示させる文字を決める必要は無し!!!
// each文を使うとこれらを1つずつ取り出すことができ(2行目)、ChatSpaceでは「キー」を「CSS用のクラス名」に、「バリュー」を「表示するメッセージ本文」として使っています。

// ERROR //
// hamlのインデントが合っていなかった為に、カラーが出力されなかった！ //
